# ---- ENTORNOS VIRTUALES ----
.venv/
venv/
env/

# ---- ARCHIVOS DE PYTHON ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ---- CONFIGURACIONES DE EDITORES ----
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ---- ARCHIVOS DEL SISTEMA ----
.DS_Store
Thumbs.db

# ---- ARCHIVOS TEMPORALES ----
*.log
*.tmp
*.bak

# ---- DEPENDENCIAS Y COMPILADOS ----
build/
dist/
*.egg-info/
*.egg

# ---- CONFIGURACIÓN PERSONAL ----
.env

# Ignorar base de datos local
game_data.db
Partida_Guardada_*.pkl
# Ignorar archivos de replays
Replay_*.pkl
